In [8]:
fruits = ["apples", "oranges", "grapes"]

In [9]:
iterable = iter(fruits)

In [10]:
print(next(iterable))

apples

In [11]:
print(next(iterable))

oranges

In [12]:
print(next(iterable))

grapes

In [13]:
print(next(iterable))

StopIteration:

In [19]:
print("Traversing started.")
for i in fruits:
    print(i)
print("Traversing done.")
print(i)

Traversing started.
apples
oranges
grapes
Traversing done.
grapes

In [22]:
table_till = [1,2,3,4,5,6,7,8,9,10]

for i in table_till:
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [23]:
table_till = [1,2,3,4,5,6,7,8,9,10]

for i in table_till:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
for i in range(1,11,1):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [30]:
for i in 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [36]:
for element in range(10):
    print(element)

# 0 is start bydefault
# 1 is step is size by default

0
1
2
3
4
5
6
7
8
9

In [41]:
for i in range (1,15,4):
    print(i)

1
5
9
13

In [46]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [42]:
for i in [1]:
    print(i)

1

In [53]:
emp_details = {
               1 : ["monal", "india"], 
               2 : ["lucas", "brazil"],
               3 : ["ashar", "Saudi arabia", 2],
               4 : ["riyan", "india"],
               "hello" : "hello"
               }

In [69]:
emp_details[4]

['riyan', 'india']

In [48]:
emp_details.keys()

dict_keys([1, 2, 3, 4])

In [73]:
for value in emp_details.keys():
    print(emp_details[value])

['monal', 'india']
['lucas', 'brazil']
['ashar', 'Saudi arabia', 2]
['riyan', 'india']
hello

# print statmenent

In [56]:
print("hello")

hello

In [80]:
print("hello", "hi", 1,2, end="")
print("hi")
print("hi")

hello hi 1 2hi
hi

In [65]:
print("hello", end="\t")
print("hi")

hello	hi

In [ ]:
'''
*
**
***
****
*****
'''

In [87]:
print("*"*5)

*****

In [93]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [96]:
'''
*
***
*****
'''
print("provide solution")
for i in range(1,6,2):
    print("*"*i)

provide solution
*
***
*****

In [100]:
'''
--*
-**
***
'''
rows = 3
for i in range(1, rows + 1):
    dashes = "-" * (rows - i)
    stars = "*" * i
    print(dashes + stars)

--*
-**
***

In [106]:
max = 3
for i in range(2, -1, -1):
    print(i*"-", end="")
    print((max-i)*"*")

--*
-**
***

In [107]:
for i in range(1, 4):
    print("-" * (3 - i) + "*" * i)

--*
-**
***

In [109]:
for x in range(2,-1,-1):
    print("-"*x, end = "")
    for y in range(x,3):
        print("*", end = "")
    print()

--*
-**
***

In [113]:
max = 3
number_of_dash = 2
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

--*

In [114]:
max = 3
number_of_dash = 1
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

-**

In [115]:
max = 3
number_of_dash = 0
print(number_of_dash*"-",end="")
print((max-number_of_dash)*"*")

***

In [ ]:
max = 3
for i in range(2,-1,-1):
    print(i*"-",end="")
    print((max-i)*"*")

--*
-**
***

In [121]:
for i in range(2,-1,-1):
    print(i)

2
1
0

In [123]:
max = 3
for i in range(2,-1,-1):
    a = i*"-"
    b = (max-i)*"*"
    print(a+b)

--*
-**
***

In [128]:
# problem statments
# there is a defaulter which we dont want to include for the attendance

student_id = 6

for i in range(1, 11):
    if i == student_id:
        continue
    print("Student id : ", i)

Student id :  1
Student id :  2
Student id :  3
Student id :  4
Student id :  5
Student id :  7
Student id :  8
Student id :  9
Student id :  10

In [129]:
student_ids = [1,6,7,8]

for i in range(1, 11):
    if i in student_ids:
        continue
    print("Student id : ", i)

Student id :  2
Student id :  3
Student id :  4
Student id :  5
Student id :  9
Student id :  10

In [ ]:
student_id = 3

for i in range(1, 11):
    if i == student_id:
        break
    print("Student id : ", i)
print("hello")

Student id :  1
Student id :  2
hello

In [135]:
student_id = 4

for i in range(1, 11):
    if i == student_id:
        break
    print("Student id : ", i)
print("hello")

Student id :  1
Student id :  2
Student id :  3
hello